<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bm">
<uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".Popular2"
            android:label="@string/title_activity_popular2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Popular1"
            android:label="@string/title_activity_popular1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Japanese"
            android:label="@string/title_activity_japanese"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_SnackBarClicked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_SnackBarList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_PizzaClicked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_PizzaList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_ChineseClicked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_ChineseList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_KoreanList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_KoreanClicked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity_ChickenList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity_ChickenClicked"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".LoadActivity"
            android:label="@string/title_activity_load"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>